/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
}





/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

/* ALGEMEEN */
body {
	font-family: sans-serif;
}

header div{
	background-color: #f6f4ed;
	display: flex;
}

h1 {
	font-family: sans-serif;
	color: white;
}

footer {
	background-color: #285aa0;
	color: white;
}

footer h2 {
	color: #f5e6c3;
}

/* INDEX */

.indeks section:nth-of-type(1) {
	background-color: #285aa0;
}

.indeks section:nth-of-type(4) {
	background-color: #f6f4ed;
}

.indeks section:nth-of-type(8) {
	background-color: #f6f4ed;
}

/* OVER ONS PAGINA */

.overons section:nth-of-type(1) {
	background-color: #285aa0;
}

.overons section:nth-of-type(2) {
	background-color: #f6f4ed;
}

.overons section:nth-of-type(4) {
	background-color: #f6f4ed;
}