/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#333;
	--color-background:#eee;
	--blue-background: #285aa0;
	--white-background: #f6f4ed;
}





/****************/
/* JOUW STYLING */
/****************/

/* jouw code */


/* ALGEMEEN */



body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	color: var(--color-text);

	margin: 0;
}

a {
	text-decoration: none;
	color: var(--color-text);
}

h1, h2, h3 {
	font-family: "Baloo 2";
	color: white;

	margin: 0;
}

footer {
	background-color: var(--blue-background);
	color: white;
}

footer h2 {
	color: #f5e6c3;
}

/* HEADER */
.h-bovenste{
	background-color: var(--white-background);

	display: flex;
	align-items: center;

	height: 40px;
	padding: 0 24px;
}

.h-bovenste a {
	display: flex;
	align-items: center;

	margin-right: auto;
}


/* telefoon en nvm logo*/
.h-bovenste img:nth-of-type(1) { 
	height: 20px;
}

/* funda */
.h-bovenste img:nth-of-type(2) {
	width: 46px;
	margin-left: 14px;
}

.h-onderste {
	display: flex;
	align-items: center;

	height: 56px;
	padding: 0 24px;
}

/* makelaarsland logo */
.h-onderste a:nth-of-type(1) img {
	width: 160px;
}

.h-onderste a:nth-of-type(1) {
	margin-right: auto;
}

/* app en profiel */
.h-onderste a:nth-of-type(2) img, .h-onderste a:nth-of-type(3) img {
	height: 20px;
	width: auto;
}

.h-onderste a:nth-of-type(3) {
	margin: 0 15px;
}

header section {
	background-color: var(--blue-background);
}

header section img {
	width: 100%;
}

h1 { 
	font-size: 32px;
	text-align: center;
}

/* INDEX */

.indeks section:nth-of-type(3) {
	background-color: var(--white-background);
}

.indeks section:nth-of-type(7) {
	background-color: var(--white-background);
}

/* OVER ONS PAGINA */

.overons section:nth-of-type(1) {
	background-color: var(--white-background);
}

.overons section:nth-of-type(3) {
	background-color: var(--white-background);
}